
/* uft-8 */
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
    margin: 0;
    padding: 0
}
body, html{
    font: 14px/1.5 "Microsoft YaHei", Arial
    transition: all .3s linear
}
fieldset,img {
    border: 0
}
img {
    display: block
}
address,caption,cite,code,dfn,th,var {
    font-style: normal;
    font-weight: normal
}
ul,ol {
    list-style: none
}
input {
    padding-top: 0;
    padding-bottom: 0;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
select,input {
    vertical-align: middle
}
select,input,textarea {
    font-size: 12px;
    margin: 0
}
input[type="text"],input[type="password"],textarea {
    outline-style: none;
    -webkit-appearance: none
}
textarea {
    resize: none
}
table {
    border-collapse: collapse
}
a {
    color: #333;
    text-decoration: none;
}


.clear{
    clear: both;
}
.clear::after{
    content: "";
    display: table;
}

.baseW-1100 {
    width: 1100px;
    margin: auto;
}

.MgT70 {
  margin-top: 70px;
}
.MgT50 {
  margin-top: 30px;
}
.MgT30 {
  margin-top: 30px;
}

// flex布局
.flexBox {
  display: flex
  align-items: center
  justify-content: flex-start
}
.flexBox.between {
  justify-content space-between
}
.flexBox.center {
  justify-content center
}

// 公共头
.baseW-tit
  width 100%
  height 60px
  padding: 0 15px
  background url('http://lib.861718.com/activity/car/tit_bg.png') left center no-repeat
  box-sizing: border-box
  border-right 1px solid #dedede
  h1
    font-size: 20px
    font-weight: normal
    color: #0ba2db
  span
    font-size: 20px
    color: #8c8c8c
    margin: 0 15px
  p
    font-size: 14px
    color: #8c8c8c
  a.more
    flex: 1
    color: #0ba2db
    text-align: right
